h1{
    color: black;
}
h1:hover
{
    color: rgb(26, 141, 194);
    font-size: medium;

}
input:focus{
    color: aqua;
}
div{
    width: 150px;
    height: 100px;
    border: 2px solid;
    border-color: rgb(48, 36, 18);
    background-color: blanchedalmond;
    overflow: scroll;
}
.tooltip .tooltip-text{
  visibility: hidden;
  border: 2px solid;
  color: blue;
  background-color: aliceblue;
  top: 10px;
  left: 5px;
  position: relative;
}
.tooltip:hover .tooltip-text{
    visibility: visible;
}