.header{
   text-align: center;
   background-color: azure;
   padding: 40px;
}
.product{
   display: flex;
   flex-direction: row;
   background-color: rgb(230, 224, 218);

}
.place{
  margin: 20px;
}
form{
   margin: 10px;
}